<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=700, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/home-css.css" />
  </head>

  <body>
    <div class="home card">
      <div class="nav row">
        <!-- fill out level -->
        <p class="col-2">5</p>

        <p class="appname-corona col-8">Corona</p>
        <p class="logout col-2">LO</p>
      </div>

      <div class="action-buttons row">
        <div class="history-button col">
          <form action="history" method="get">
            <button type="submit" class="btn btn-primary">history</button>
          </form>
        </div>
        <div class="challenge-button col">
          <form action="challenge" method="get">
            <button type="submit" class="btn btn-primary">challenge</button>
          </form>
        </div>
      </div>

      <div class="challenges">
        <p class="display-4">Challenges</p>
        <div class="challenge card" style="padding: 2%;">
          <p>Who is will you save in corona virus?</p>
          <div class="list-group">
            <form action="" method="post">
              <button
                type="button"
                class="list-group-item list-group-item-action"
              >
                Cras justo odio
              </button>
            </form>
            <form action="" method="post">
              <button
                type="button"
                class="list-group-item list-group-item-action"
              >
                Cras justo odio
              </button>
            </form>
            <form action="" method="post">
              <button
                type="button"
                class="list-group-item list-group-item-action"
              >
                Cras justo odio
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- BOTTSTRAP JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
