.login{
    padding: 3%;
    width: 400px;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-image{
    width: 100px;
    height: 100px;
    background-image: url("../images/login.jpg");
    object-fit: cover;
    margin: auto;
    margin-bottom: 20px;
}

.login-img{
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

body{
    background-color: #eee;
}